# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyproject.toml
.pdm.toml
.pdm-python

# Virtual Environments
.venv
venv
ENV
env
.env

# Ruff
.ruff_cache

# VSCode
.vscode/

# Node / Tailwind
node_modules/
/src/app/static/css/output.css
# Environment variables
.env
