{% extends 'portfolio/base.html' %}

{% block title %}Связаться со мной{% endblock %}

{% block content %}
<section class="contact-section">
    <h1>Связаться со мной</h1>
    <p>If you have any questions, feel free to reach out using the form below.</p>
    
    <form action="" method="POST" class="contact-form">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя" required>
        <input type="email" name="email" placeholder="Ваш Email" required><br><br>
        <textarea name="message" placeholder="Сообщение" rows="5" required></textarea>
        <button type="submit">Отправить сообщение</button>
    </form>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345093744!2d144.95565131531853!3d-37.81731397975161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf5774273df557bf8!2sVictoria%20State%20Library!5e0!3m2!1sen!2sau!4v1674934876939!5m2!1sen!2sau"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</section>
{% endblock %}